<mat-dialog-content class="mat-typography">
    <h2>Adatkezelési Tájékoztató</h2>

    <p>
        Ez az adatkezelési tájékoztató ismerteti önt, a felhasználót, hogy a BérPartner weboldal hogyan gyűjti,
        használja
        és védi a felhasználók személyes adatait. Kérjük, olvassa el ezt a tájékoztatót, hogy megértse adatkezelési
        irányelveinket.
    </p>
    <h3>1. Személyes adatok gyűjtése</h3>
    <p>
        A BérPartner weboldala különféle személyes adatokat gyűjthet a felhasználóktól, beleértve a következőket:
    </p>
    <ul>
        <li>Profilkép és a feltöltött fotók</li>
        <li>Utónév és vezetéknév</li>
        <li>E-mail cím</li>
        <li>Telefonszám</li>
        <li>Lakcím</li>
    </ul>
    <h3>2. Adatkezelési jogok</h3>
    <p>
        A felhasználóknak joga van hozzáférni vagy helyesbíteni a személyes adataikat. Az adatok törléséhez
        forduljon az
        adminisztrátori csapatunkhoz a megadott e-mail címen.
        Ezeket az adatokat a regisztráció során menti az oldal, de csak a profil kezeléséhez vannak felhasználva, és
        nem
        osztjuk meg harmadik félnek.
        Továbbá a megadott adatok csak a vizsgaidőszak ideje alatt vannak tárolva, teszt adat jelleggel, és a
        vizsgaidőszak végén törlésre kerülnek.

    </p>
    <h3>3. Adatbiztonság</h3>
    <p>
        A BérPartner elkötelezett amellett, hogy a felhasználók személyes adatait biztonságban tartsa. Megfelelő
        biztonsági és adminisztrátori intézkedéseket alkalmazunk az adatok jogosulatlan hozzáférése, szerkesztése,
        nyilvánosságra hozatala ellen.
    </p>
    <h3>4. Az adatkezelés jogalapja</h3>
    <p>
        Az adatok kezeléséhez a felhasználó önkéntesen járul hozzá a regisztráció során. Az adatok megadása
        szükséges a
        weboldal szolgáltatásainak igénybevételéhez.
    </p>

    <h3>5. Kapcsolat</h3>
    <p>
        Ha bármilyen kérdése vagy aggálya van az adatkezelési tájékoztatóval vagy az oldal működésével kapcsolatban,
        kérjük, lépjen kapcsolatba
        velünk a következő e-mail címen: <span> maros.mate&#64;dozsakalocsa.hu</span>
    </p>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="close-btn">Bezárás</button>
    </mat-dialog-actions>
</mat-dialog-content>