.ad-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
}

.item-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: #fb923c 0px 2px 3px;
}

.item-card img {
  height: 180px;
  object-fit: cover;
}

.item-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
}

.item-informations {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 8px;

}

mat-card-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.description {
  line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.price-tag {
  font-size: 1.1em;
  font-weight: bold;
  color: green;
}

@media (max-width: 1100px) {
  .ad-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ad-grid {
    grid-template-columns: 1fr;
  }
}

mat-toolbar {
  background: #141e38;
  color: white;
  width: 60%;
  margin: 0 !important;
}

.nav-container {
  background: #141e38;
}

.searchbar {
  flex: 1;
  max-width: 500px;
  margin-left: 20px;
  background: #334155;
  border: none;
  border-radius: 8px;
  height: 38px;
  color: white;
  padding: 0 15px;
}

.sorter {
  width: 200px;
  margin: 0 10px 0 0;
  height: 38px;
  color: white;
}

/* Bele kell nyúlni a generált MDC wrapper osztályba a magasság fixálásához */
.sorter ::ng-deep .mat-mdc-text-field-wrapper {
  height: 38px;
  background-color: #1f2a4a;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: white;
}

/* Az infix (a tényleges input terület) igazítása */
.sorter ::ng-deep .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 38px;
  color: white;

}

.sorter ::ng-deep .mat-mdc-form-field-label {
  color: white !important;

}

.sorter ::ng-deep .mat-mdc-select-value-text {
  color: rgb(185, 184, 184) !important;
}

.categories-btn {
  color: white !important;
  border: 2px solid #fb923c;
}


.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-container mat-toolbar {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

::ng-deep .mat-mdc-menu-panel {
  overflow: visible !important;
}

::ng-deep .mat-mdc-menu-content {
  overflow: visible !important;
}

.mat-mdc-menu-item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  z-index: 10;
}



.categories-btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  background-color: #243561 !important;
}

.spacer{
  flex: 1 1 auto;
}

@media (max-width: 1500px) {
  mat-toolbar {
    width: 90% !important;
  }
}

@media (max-width: 600px) {

  .nav-container mat-toolbar {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .searchbar {
    width: 100%;
  }

  .sorter {
    width: 20%;
  }
}