.ad-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
}

.item-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: #fb923c 0px 2px 3px;
}

.item-card img {
  height: 180px;
  object-fit: cover;
}

.item-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
}

.item-informations {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  
}

mat-card-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.description{
  line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.price-tag {
  font-size: 1.1em;
  font-weight: bold;
  color: green;
}

@media (max-width: 1100px) {
  .ad-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ad-grid {
    grid-template-columns: 1fr;
  }
}