<div class="home-container">
    <header>
        <nav class="header-mav">
            <mat-toolbar id="header-toolbar">
                <img src="assets/pictures/logo_2.png" alt="BérPartner Logo" class="logo_img">
                <span>BérPartner</span>
                <span class="spacer"></span>
                <button mat-icon-button class="profile-menu-btn" [matMenuTriggerFor]="menu">
                    <!-- <span class="profile-name">{{user.nev}}</span> -->
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #menu="matMenu">

                    <button mat-menu-item routerLink="/profile">
                        <mat-icon>person</mat-icon>
                        <span>Profil</span>
                    </button>
                    <button mat-menu-item routerLink="/renteditems">
                        <mat-icon>shopping_basket</mat-icon>
                        <span>Bérléseim</span>
                    </button>
                    <button mat-menu-item routerLink="/myitems">
                        <mat-icon>receipt</mat-icon>
                        <span>Hírdetéseim</span>
                    </button>
                    <button mat-menu-item routerLink="/settings">
                        <mat-icon>settings</mat-icon>
                        <span>Beállítások</span>
                    </button>
                    <button mat-menu-item routerLink="/login">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Kijelentkezés</span>
                    </button>
                </mat-menu>
                <button mat-icon-button class="notifications-icon" (click)="openNotifications()">
                    <mat-icon>mail_outline</mat-icon>
                </button>
                <button mat-icon-button class="upload-icon" routerLink="upload" aria-label="Új termék feltöltése">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </mat-toolbar>
        </nav>

        <nav class="tabs-container" id="search-nav">
            <mat-toolbar>
                <button mat-button [matMenuTriggerFor]="categories" style="color: white !important;"
                    class="categories-btn">Kategóriák</button>
                <mat-menu #categories="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="tools">Eszközök</button>
                    <button mat-menu-item [matMenuTriggerFor]="vehicle">Járművek</button>
                    <button mat-menu-item [matMenuTriggerFor]="places">Helyszínek</button>
                </mat-menu>

                <mat-menu #tools="matMenu">
                    <button mat-menu-item>Barkács & Felújítás</button>
                    <button mat-menu-item>Kert & Kültér</button>
                    <button mat-menu-item>Jármű kiegészítők</button>
                    <button mat-menu-item>Szállítás</button>
                    <button mat-menu-item>Rendezvény</button>
                    <button mat-menu-item>Elektronika</button>
                </mat-menu>

                <mat-menu #vehicle="matMenu">
                    <button mat-menu-item>Személyautó</button>
                    <button mat-menu-item>Kishaszonjármű</button>
                    <button mat-menu-item>Haszonjármű</button>
                    <button mat-menu-item>Munkagép</button>
                    <button mat-menu-item>Pótkocsi/Utánfutó</button>
                    <button mat-menu-item>Motorkerékpár</button>
                </mat-menu>

                <mat-menu #places="matMenu">
                    <button mat-menu-item>Tárolás & Raktár</button>
                    <button mat-menu-item>Műhely</button>
                    <button mat-menu-item>Rendezvényhelyszín</button>
                </mat-menu>

                <span class="spacer"></span>
                <mat-form-field class="sorter" appearance="outline" floatLabel="auto">
                    <mat-label>Rendezés</mat-label>
                    <mat-select [(ngModel)]="selectedSort">
                        @for (option of options; track option) {
                        <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <input type="text" class="searchbar">

            </mat-toolbar>
        </nav>
    </header>
    <main>
        <article class="ad-grid">



            <mat-card class="item-card" appearance="outlined">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Test photo">
                <mat-card-header>
                    <mat-card-title>(Hírdetés Cím)</mat-card-title>
                    <mat-card-subtitle>(Kategória)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        (Description)
                    </p>
                    <div class="item-informations">

                        <div class="price-tag">5 000 Ft / nap</div>
                        <div class="location-tag"><mat-icon class="location-icon">place</mat-icon> <span>Kalocsa</span>
                        </div>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" class="details-btn">Részletek</button>
                    <button mat-raised-button color="accent" class="rent-btn">FOGLALÁS</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="item-card" appearance="outlined">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Test photo">
                <mat-card-header>
                    <mat-card-title>(Hírdetés Cím)</mat-card-title>
                    <mat-card-subtitle>(Kategória)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        (Description)
                    </p>
                    <div class="item-informations">

                        <div class="price-tag">5 000 Ft / nap</div>
                        <div class="location-tag"><mat-icon class="location-icon">place</mat-icon> <span>Kalocsa</span>
                        </div>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" class="details-btn">Részletek</button>
                    <button mat-raised-button color="accent" class="rent-btn">FOGLALÁS</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="item-card" appearance="outlined">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Test photo">
                <mat-card-header>
                    <mat-card-title>(Hírdetés Cím)</mat-card-title>
                    <mat-card-subtitle>(Kategória)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        (Description)
                    </p>
                    <div class="item-informations">

                        <div class="price-tag">5 000 Ft / nap</div>
                        <div class="location-tag"><mat-icon class="location-icon">place</mat-icon> <span>Kalocsa</span>
                        </div>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" class="details-btn">Részletek</button>
                    <button mat-raised-button color="accent" class="rent-btn">FOGLALÁS</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="item-card" appearance="outlined">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Test photo">
                <mat-card-header>
                    <mat-card-title>(Hírdetés Cím)</mat-card-title>
                    <mat-card-subtitle>(Kategória)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        (Description)
                    </p>
                    <div class="item-informations">

                        <div class="price-tag">5 000 Ft / nap</div>
                        <div class="location-tag"><mat-icon class="location-icon">place</mat-icon> <span>Kalocsa</span>
                        </div>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" class="details-btn">Részletek</button>
                    <button mat-raised-button color="accent" class="rent-btn">FOGLALÁS</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="item-card" appearance="outlined">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Test photo">
                <mat-card-header>
                    <mat-card-title>(Hírdetés Cím)</mat-card-title>
                    <mat-card-subtitle>(Kategória)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        (Description)
                    </p>
                    <div class="item-informations">

                        <div class="price-tag">5 000 Ft / nap</div>
                        <div class="location-tag"><mat-icon class="location-icon">place</mat-icon> <span>Kalocsa</span>
                        </div>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" class="details-btn">Részletek</button>
                    <button mat-raised-button color="accent" class="rent-btn">FOGLALÁS</button>
                </mat-card-actions>
            </mat-card>



        </article>
    </main>
    <footer>

    </footer>
</div>