.ad-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
}

.item-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item-card img {
  height: 180px;
  object-fit: cover;
}

.item-informations {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

mat-card-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.price-tag {
  font-size: 1.1em;
  font-weight: bold;
  color: green;
}

@media (max-width: 1100px) {
  .ad-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ad-grid {
    grid-template-columns: 1fr;
  }
}