<div class="home-container">
    <nav class="nav-container" id="search-nav">
        <mat-toolbar>
            <button mat-button [matMenuTriggerFor]="categories" style="color: white !important;"
                class="categories-btn">Kategóriák</button>
            <mat-menu #categories="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="tools">Eszközök</button>
                <button mat-menu-item [matMenuTriggerFor]="vehicle">Járművek</button>
                <button mat-menu-item [matMenuTriggerFor]="places">Épület</button>
            </mat-menu>

            <mat-menu #tools="matMenu">
                <mat-option value="epito_gepi">Építőipari & gépi szerszámok</mat-option>
                <mat-option value="kert">Kert & Kültér</mat-option>
                <mat-option value="jarmu_szereles">Jármű szerelés</mat-option>
                <mat-option value="szallitas">Szállítás</mat-option>
                <mat-option value="rendezveny">Rendezvény</mat-option>
                <mat-option value="elektronika">Elektronika</mat-option>
            </mat-menu>

            <mat-menu #vehicle="matMenu">
                <mat-option value="szemelyauto">Személyautó</mat-option>
                <mat-option value="kisteher">Kisteherautó</mat-option>
                <mat-option value="nagyteher">Teherautó</mat-option>
                <mat-option value="munkagep">Földmunka & Emelőgépek</mat-option>
                <mat-option value="potkocsi">Pótkocsi/Utánfutó</mat-option>
            </mat-menu>

            <mat-menu #places="matMenu">
                <mat-option value="tarolas">Tárolás & Raktár</mat-option>
                <mat-option value="muhely">Műhely</mat-option>
                <mat-option value="helyszin">Rendezvényhelyszín</mat-option>
            </mat-menu>

            <span class="spacer"></span>
            <mat-form-field class="sorter" appearance="outline" floatLabel="auto">
                <mat-label>Rendezés</mat-label>
                <mat-select [(ngModel)]="selectedSort">
                    @for (option of options; track option) {
                    <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <input type="text" class="searchbar" placeholder="Keresés...">

        </mat-toolbar>
    </nav>

    <main>
        <article class="ad-grid">


            <mat-card class="item-card" appearance="outlined" *ngFor="let post of posts" routerLink="/item-details/{{post.id}}">
                <img mat-card-image src="http://localhost:3000/upload/picture/{{post.kep_nev}}" alt="Termék kép">
                <mat-card-header>
                    <mat-card-title>{{post.nev}}</mat-card-title>
                    <mat-card-subtitle>{{post.kategoria}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="description">
                        {{post.leiras}}
                    </p>
                    <div class="item-informations">
                        <div class="price-tag">{{post.ar_egy_napra}} Ft / nap</div>
                        <div class="location-tag"><mat-icon class="location-icon">place</mat-icon> <span>{{post.varos}}</span></div>
                    </div>
                </mat-card-content>
            </mat-card>



        </article>
    </main>
    <footer>

    </footer>
</div>