<div class="home-container">
    <main>
        <article class="ad-grid">
            

            <mat-card class="item-card" appearance="outlined" *ngFor="let post of posts" routerLink="/item-details/{{post.id}}">
                <img mat-card-image src="http://localhost:3000/upload/picture/{{post.kep_nev}}" alt="Test photo">
                <mat-card-header>
                    <mat-card-title>{{post.nev}}</mat-card-title>
                    <mat-card-subtitle>{{post.kategoria}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="description">
                        {{post.leiras}}
                    </p>
                    <div class="item-informations">
                        <div class="price-tag">{{post.ar_egy_napra}} Ft / nap</div>
                        <div class="location-tag"><mat-icon class="location-icon">place</mat-icon> <span>{{post.varos}}</span></div>
                    </div>
                </mat-card-content>
            </mat-card>
            


        </article>
    </main>
    <footer>

    </footer>
</div>