# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# === WPF / Visual Studio (C#) ===
**/[Bb]in/
**/[Oo]bj/
**/.vs/
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.suo
**/*.sublime-workspace
**/TestResults/

# === Compiled output (Angular & General) ===
**/dist
**/tmp
**/out-tsc
**/bazel-out
**/*.exe
**/*.dll
**/*.pdb
**/*.msi

# === Node ===
**/node_modules
**/npm-debug.log
**/yarn-error.log

# === IDEs and editors ===
**/.idea/
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/

# === Visual Studio Code ===
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
**/.history/*

# === Miscellaneous ===
**/.angular/cache
**/.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
**/testem.log
**/typings
**/packages/

# === System files ===
**/.DS_Store
**/Thumbs.db
**/Thumbs.db:encryptable