#egesz {
    align-items: center;
    border: solid rgb(120, 174, 255) 2px;
    border-radius: 20px;
    max-width: 300px;
    max-height: 250px;
    padding: 60px;
    margin: 0 auto;
    width: 100%;
    min-width: 150px;
    margin-top: 10%;
}

.password {
    width: 100%;
}

.username {
    width: 100%;
}

.login-button {
    text-align: center;
    display: block;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;       
    overflow: hidden;   
}