<div id="egesz">

    <h1>Regisztráció</h1>

    <mat-form-field class="firstname">
        <mat-label>Vezetéknév</mat-label>
        <input type="text" matInput>
    </mat-form-field>

    <mat-form-field class="lastname">
        <mat-label>Keresztnév</mat-label>
        <input type="text" matInput>
    </mat-form-field>

    <mat-form-field class="email">
        <mat-label>Email cím</mat-label>
        <input matInput type="email">
    </mat-form-field>

    <mat-form-field class="phoneNumber">
        <mat-label>Telefonszám</mat-label>
        <input matInput type="number">
    </mat-form-field>

    <mat-form-field class="password">
        <mat-label>Jelszó</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <mat-form-field class="city">
        <mat-label>Város</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <mat-form-field class="street">
        <mat-label>Utca</mat-label>
        <input matInput type="text">
    </mat-form-field>
    
    <mat-form-field class="address">
        <mat-label >Házszám</mat-label>
        <input matInput type="text" id="szex">
    </mat-form-field>

    <div class="register-button">
        <button mat-flat-button>Regisztráció</button>
    </div>
</div>