<div class="registration-container">
  <h2>Regisztráció</h2>
  
  <mat-stepper linear #stepper>
  
    <mat-step [stepControl]="nameFormGroup">
      <form [formGroup]="nameFormGroup">
        <ng-template matStepLabel>Adja meg a nevét</ng-template>
        <mat-form-field>
          <mat-label>Vezetéknév</mat-label>
          <input matInput placeholder="Kiss" formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Keresztnév</mat-label>
          <input matInput placeholder="Pista" formControlName="firstName" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Tovább</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="contactFormGroup" [optional]="isOptional">
      <form [formGroup]="contactFormGroup">
        <ng-template matStepLabel>Elérhetőségek</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="kisspista@gmail.com"
                 required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>telefonszám</mat-label>
          <input matInput formControlName="phone" placeholder="06 20 999 1234"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Vissza</button>
          <button mat-button matStepperNext>Tovább</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="passwordFormGroup">
      <form [formGroup]="passwordFormGroup">
        <ng-template matStepLabel>Adja meg a jelszavát</ng-template>
        <mat-form-field>
          <mat-label>Jelszó</mat-label>
          <input matInput type="password" formControlName="password" placeholder="jelszó123"
                 required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Jelszó újra</mat-label>
          <input matInput type="password" formControlName="confirmPassword" placeholder="jelszó123"
                 required>
        </mat-form-field>
        <div *ngIf="passwordFormGroup.hasError('passwordMismatch')" class="password-error">
          A jelszavak nem egyeznek
        </div>
        <div>
          <button mat-button matStepperPrevious>Vissza</button>
          <button mat-button matStepperNext>Tovább</button>
        </div>
      </form>
    </mat-step>
  
      <mat-step [stepControl]="addressFormGroup" [optional]="isOptional">
      <form [formGroup]="addressFormGroup">
        <ng-template matStepLabel>Postázási cím</ng-template>
        <mat-form-field>
          <mat-label>Város</mat-label>
          <input matInput formControlName="varos" placeholder="Pl.: Miske"
                 required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Utca</mat-label>
          <input matInput formControlName="utca" placeholder="Pl.: Kalocsa út"
                 required>
        </mat-form-field>
              <mat-form-field>
          <mat-label>Házszám</mat-label>
          <input matInput formControlName="hazszam" placeholder="Pl.: 99"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Vissza</button>
          <button mat-button matStepperNext>Tovább</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Befejezés</ng-template>
      <p>A profilja készen áll!.</p>
      <div>
        <button mat-button matStepperPrevious>Vissza</button>
        <button mat-button (click)="submit()">Regisztrálás</button>
      </div>
    </mat-step>
  
  </mat-stepper>
</div>


