.drawer-container {
  display: flex;
  height: calc(100vh - 64px);
  margin: auto;
  background: #ffb06f;

}

.not-drawer {
  background-color: rgb(250, 239, 224);
  width: 250px;
}

.not-wrapper {
  display: flex;
  align-items: stretch;
}

.not-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 5px;

}

.notification-card {
  width: 100%;
  border: 1px solid #ffb06f;
}

.notification-card:hover {
  transform: scale(1.01);
}

.sender-details {
  width: 150px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #dee3e9;
  flex-shrink: 0;
}

.title {
  font-weight: bold;
  font-size: 0.95rem;
}

.sender {
  font-size: 0.85rem;
  color: #64748b;
}

.date {
  font-size: 0.75rem;
  color: #919eb1;
}

.message {
  flex-grow: 1;
  padding: 12px 20px;
  display: flex;
  align-items: center;
}

.actions {
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 10px;
}


.approve-btn {
  background-color: green !important;
  color: white !important;
}

.approve-btn:hover {
  background-color: darkgreen !important;
  transform: scale(1.05);
}

.reject-btn {
  background-color: red !important;
  color: white !important;
}

.reject-btn:hover {
  background-color: darkred !important;
  transform: scale(1.05);
}

.drawer-header {
  padding: 20px 16px;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid #dee3e9;
}

mat-nav-list {
  border-radius: 8px;
}

mat-list-item:hover{
  transform: scale(1.02);
}