<!-- <h3 mat-dialog-title>Értesítések</h3>
<mat-dialog-content class="notifications-content">
  <p>Nincsenek új értesítések.</p>
  <mat-list>

  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Bezárás</button>
</mat-dialog-actions> -->

<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" opened class="not-drawer">
    <div class="drawer-header">Értesítések</div>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListItemIcon>all_inbox</mat-icon>
        <span matListItemTitle>Összes üzenet</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>Felhasználói üzenetek</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Rendszer értesítések</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="not-content">

    @for(msg of messages; track msg.id){

    @if(msg.tipus === 'request'){
      @if(msg.statusz === 'accepted'){
        <mat-card class="notification-card" >
      <div class="not-wrapper">

        <div class="sender-details">
          <div class="title">{{msg.cim}}</div>
          <div class="sender">{{msg.felado}}</div>
          <div class="date">{{msg.letrehozva_ekkor | date:'yyyy. MM. dd. HH:mm'}}</div>
        </div>

        <div class="message">
          {{msg.felado}} {{msg.tartalom}} {{msg.eszkoz}}
        </div>

        <div class="actions">
          <p>Elfogadva</p>
          </div>
      </div>
    </mat-card>


      }
      @else if(msg.statusz === 'rejected'){

        <mat-card class="notification-card" >
      <div class="not-wrapper">

        <div class="sender-details">
          <div class="title">{{msg.cim}}</div>
          <div class="sender">{{msg.felado}}</div>
          <div class="date">{{msg.letrehozva_ekkor | date:'yyyy. MM. dd. HH:mm'}}</div>
        </div>

        <div class="message">
          {{msg.felado}} {{msg.tartalom}} {{msg.eszkoz}}
        </div>

        <div class="actions">
          <p>Elutasítva</p>
          </div>
      </div>
    </mat-card>
      }
      @else{
    <mat-card class="notification-card" >
      <div class="not-wrapper">

        <div class="sender-details">
          <div class="title">{{msg.cim}}</div>
          <div class="sender">{{msg.felado}}</div>
          <div class="date">{{msg.letrehozva_ekkor | date:'yyyy. MM. dd. HH:mm'}}</div>
        </div>

        <div class="message">
          {{msg.felado}} {{msg.tartalom}} {{msg.eszkoz}}
        </div>

        <div class="actions">
          <button mat-mini-fab class="approve-btn" (click)="accept(msg.id,msg.berles_id)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-mini-fab class="reject-btn" (click)="reject(msg.id,msg.berles_id)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  }

    @if(msg.tipus === 'message'){
      <mat-card class="notification-card">
      <div class="not-wrapper">

        <div class="sender-details">
          <div class="title">{{msg.cim}}</div>
          <div class="sender">{{msg.felado}}</div>
          <div class="date">msg.letrehozva_ekkor | date:'yyyy. MM. dd. HH:mm'</div>
        </div>

        <div class="message">
          {{msg.tartalom}}
        </div>
      </div>
    </mat-card>}


  }} @empty{
    <p style="text-align: center;margin-top: 40px;">Nincsenek megjeleníthető üzeneteid!</p>
  }



    
  </mat-drawer-content>
</mat-drawer-container>