<mat-dialog-content class="mat-typography">
    <h2 mat-dialog-title>Impresszum</h2>
    <main>
        <h3 mat-dialog-title>BérPartner</h3>
        <ul>
            <li>Szolgáltatók:</li>
            <ul>
                <li>Kopó Alex</li>
                <li>Maros Máté</li>
            </ul>
            <li>E-mail cím:</li>
            <ul>
                <li>kopo.alex&#64;dozsakalocsa.hu</li>
                <li>maros.mate&#64;dozsakalocsa.hu</li>
            </ul>
            <li>Tárhelyszolgáltatás: A szolgáltatás helyi szerveren fut.</li>
        </ul>
        <h3 mat-dialog-title>Vásárlási Feltételek</h3>
        <ul>
            <li>Teljesítés módja: Egyéni megállapodás szerint</li>
            <li>Teljesítés költsége: Meghírdetett díj</li>
        </ul>
        <h3 mat-dialog-title>Reklamáció:</h3>
        <ul>
            <li>Reklamáció benyújtásának módja: E-mailben</li>
            <li>Reklamációt fogadó e-mail cím: <u>kopo.alex&#64;dozsakalocsa.hu</u> </li>
        </ul>
        <h3 mat-dialog-title>Ügyfélszolgálat</h3>
        <ul>
            <li>E-mail cím: kopo.alex&#64;dozsakalocsa.hu</li>
            <li>Ügyfélszolgálat munkaideje: Hétfőt-Szombat <strong>8:00-18:00</strong> </li>
        </ul>
    </main>

    <button mat-button mat-dialog-close class="close-btn">Bezárás</button>

</mat-dialog-content>