mat-dialog-content {
    background: #141e38;
    color: rgb(194, 194, 194) !important;
}

h2 {
    color: rgb(194, 194, 194) !important;
    padding-left: 0px !important;
}


h3 {
    border-bottom: 2px solid #fb923c;
    padding-bottom: 5px;
    margin-top: 30px;
    color: rgb(175, 175, 175) !important;

}

li {
    font-size: 1.1rem;
    padding: 5px;
}

u {
    color: #fb923c;
}

.close-btn {
    width: 100px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 600;
    background: linear-gradient(180deg, #ffd9b3, #db7726);
    color: rgb(145, 46, 0);
    box-shadow: 0 8px 25px rgba(251, 146, 60, 0.2);
    ;
}