<main class="item-container">
    <button class="back-btn" routerLink="/home" (click)="navigateBack()" aria-label="Vissza a főoldalra">
        <mat-icon>home</mat-icon>
    </button>

    <h2>Az általad kínált termékek:</h2>

    <!-- <div class="items-list">
        <article class="item-card">
            <div class="item-image-placeholder"></div>
            <div class="item-info">
                <h3>Fúrógép</h3>
                <p class="price">Napi díj: 1999Ft</p>
                <p class="status">Elérhető</p>
            </div>
            <button mat-button><mat-icon>edit</mat-icon></button>
            <button mat-button><mat-icon color="warn">delete</mat-icon></button>
        </article>

        <article class="item-card">
            <div class="item-image-placeholder"></div>
            <div class="item-info">
                <h3>Betonkeverő</h3>
                <p class="price">Napi díj: 2000Ft</p>
                <p class="status">Elérhető</p>
            </div>
            <button mat-button><mat-icon>edit</mat-icon></button>
            <button mat-button><mat-icon color="warn">delete</mat-icon></button>
        </article>

        <article class="item-card">
            <div class="item-image-placeholder"></div>
            <div class="item-info">
                <h3>Utánfutó</h3>
                <p class="price">Napi díj: 2999Ft</p>
                <p class="status">Elérhető</p>
            </div>
            <button mat-button><mat-icon>edit</mat-icon></button>
            <button mat-button><mat-icon color="warn">delete</mat-icon></button>
        </article>
    </div> -->


    <article class="ad-grid">
        <mat-card class="item-card" *ngFor="let post of posts" appearance="outlined">
            <img mat-card-image src="http://localhost:3000/upload/picture/{{post.kep_nev}}" alt="Termék kép">
            <mat-card-header>
                <mat-card-title>{{post.nev}}</mat-card-title>
                <mat-card-subtitle>{{post.kategoria}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{post.leiras}}
                </p>
                <div class="item-informations">
                    <div class="price-tag">{{post.ar_egy_napra}} Ft / nap</div>
                    <div class="location-tag"><mat-icon class="location-icon">place</mat-icon> <span>{{post.varos}}</span></div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon color="warn">delete</mat-icon></button>
                <button mat-button><mat-icon>edit</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </article>

</main>