<div class="settings-page">
    <div class="settings-container">

        <div class="settings-card">
            <h2 class="settings-title">Beállítások</h2>

            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Oldal beállítások </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="setting-item">
                        <mat-slide-toggle>
                            Sötét mód
                        </mat-slide-toggle>
                    </div>
                    <!--profile pic  -->
                    <div class="setting-item">
                        <p>Profilkép beállítása:</p>
                        <input type="file" accept="image/*" class="img-upload" (change)="onFileSelected($event)">
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Személyes információk </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p><strong>Név:</strong> {{user?.nev}}</p>
                    <p><strong>E-mail cím:</strong> {{user?.email}}</p>
                    <p><strong>Telefonszám:</strong>+ {{user?.telefonszam | mask:'00 000 0000'}}</p>
                    <p><strong>Lakcím:</strong> {{user?.varos}} {{user?.utca}} {{user?.haz_szam}}</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Biztonság & Védelem </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="setting-row">
                        <span>Jelszó módosítása</span>
                        <button mat-button (click)="openEditDialog('password', 'Jelszó', user.email)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>

                    <div class="setting-row">
                        <span>E-mail cím módosítása</span>
                        <button mat-button (click)="openEditDialog('email', 'E-mail',user.email)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>

                    <div class="setting-row">
                        <span>Telefonszám módosítása</span>
                        <button mat-button (click)="openEditDialog('phone', 'Telefonszám',user.email)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>

                    <div class="setting-row">
                        <span>Lakcím módosítása</span>
                        <button mat-button (click)="openEditDialog('address', 'Lakcím',user.email)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <button mat-raised-button class="delete-button" (click)="openUserDeletionDialog()">
                Fiók törlése
            </button>
        </div>
    </div>
</div>