:host {
  display: block;
  background-color: #192c57;
  min-height: 100vh;
}

h2 {
  color: white;
  margin-left: 8px;
  margin-top: 20px;
}

.item-container {
  width: 50%;
  margin: auto;
  padding: 5px;
  box-shadow: #fb923c 0px 5px 15px;
  border-radius: 12px;
  margin-top: 10px;
  background: #141e38;
}



.ad-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
}

.item-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item-card img {
  height: 180px;
  object-fit: cover;
}

.item-informations {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

mat-card-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.price-tag {
  font-size: 1.1em;
  font-weight: bold;
  color: green;
}

@media (max-width: 1100px) {
  .ad-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ad-grid {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 960px) {
  .item-container {
    width: 90% !important;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .items-list {
    grid-template-columns: 1fr;
  }

  .item-card {
    flex-direction: column;
  }

  .item-image-placeholder {
    width: 100%;
    height: 180px;
  }

  .item-actions {
    flex-direction: row;
    justify-content: center;
    padding: 16px;
  }
}


