<main class="item-container">
    <h2>Az általad bérelt termékek:</h2>

    <article class="ad-grid">
        @for(rent of rents;track rent.id){
        <mat-card class="item-card" appearance="outlined">
            <img mat-card-image src="http://localhost:3000/upload/picture/{{rent.kep_nev}}" alt="Test photo">
            <mat-card-header>
                <mat-card-title>{{rent.nev}}</mat-card-title>
                <mat-card-subtitle>{{rent.kategoria}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{rent.leiras}}
                </p>
                <div class="item-informations">
                    <div class="price-tag">{{rent.ar_egy_napra}} Ft / nap</div>
                    <div class="location-tag"><mat-icon class="location-icon">place</mat-icon> <span>{{rent.varos}}</span></div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <strong>{{rent.datum_tol | date:'yyyy. MM. dd.'}}</strong> - <strong>{{rent.datum_ig | date:'yyyy. MM. dd.'}}</strong>
            </mat-card-actions>
        </mat-card>
    }@empty{
        <p style="color: aliceblue; grid-column: span 4; text-align: center; margin-top: 40px;">
            Nincs megjeleníthető bérl!
        </p>
    }
    </article>

</main>