.welcome-container{
    border: 2px solid orange;
    position: relative;
    margin-left: 50px;
    margin-top: 100px;
    padding: 20px;
    max-width: 800px;
}

footer{
    border: darkgray 1px solid;
    background: gray;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: white;
}

.button-column{
    position: relative;
    
    gap: 10px;
    margin-top: 20px;
}