<div class="welcome-wrapper">

  <img src="assets/pictures/logo_1.png" alt="BérPartner Logo" class="logo">


  <div class="card">

    <div class="text-content">
      <h1>Üdvözlünk a BérPartner weboldalán!</h1>
      <p>
        Szükséged van eszközökre vagy járműre a munkádhoz vagy hobbidhoz,<br>
        de nem akarsz vagyonokat költeni?<br>
        Itt jó helyen vagy!
      </p>
      <p>Kérlek, jelentkezz be vagy regisztrálj a folytatáshoz.</p>
    </div>
   
    <div class="button-section">
      <button mat-stroked-button class="login-btn" routerLink="/login">
        Bejelentkezés
      </button>
      <span class="or">vagy</span>
      <button mat-flat-button color="accent" class="register-btn" routerLink="/register">
        Regisztráció
      </button>
    </div>
  </div>
</div>

<footer>
  <p>© 2025 BérPartner. Minden jog fenntartva. • Adatkezelési tájékoztató • Impresszum</p>
</footer>
