<div class="welcome-container">
    <h1>Üdvözlünk a BérPartner weboldalán!</h1>
    <h3>Szükséged van eszközökre vagy járműre a munkádhoz vagy hobbdidhoz, de nem akarsz vagyonokat költeni? <br> Itt jó helyen vagy!</h3>
    <p>Kérlek, jelentkezz be vagy regisztrálj a folytatáshoz.</p>
    <div class="button-column">
        <button mat-flat-button routerLink="/login">Bejelentkezés</button>
        <p>vagy</p>
        <button mat-flat-button routerLink="/register">Regisztráció</button>
    </div>
</div>

<footer>
    <p>&copy; 2025 BérPartner. Minden jog fenntartva.</p>
    <p>Adatkezelési tájékoztató</p>
    <p>Impresszum</p>
</footer>