:host {
    display: block;
    background-color: #141e38;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

h2 {
    color: white !important;
}

.content-text {
    color: #fb923c;
    font-size: 15px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 0 !important;
}

li {
    margin-top: 0px;
    color: white;
}