.home-container {
    min-height: 100vh;
    background: #0f172a;
    padding: 0px;
    box-sizing: border-box;
}

.spacer {
    flex: 1 1 auto;
}

.logo_img {
    height: 40px;
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}

nav {
    margin: 0px;
    color: white;
}

mat-toolbar {
    background: #141e38;
    color: white;
    width: 60%;
    margin: 0 !important;
}

.header-nav {
    background: #172342;
}

#header-toolbar {
    background: #172342;
}

#search-nav {
    background: #141e38;
}

.logo-img {
    height: 40px;
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}

.logo-div, .title {
    cursor: pointer;
}

mat-icon {
    font-size: 30px !important;
    width: 30px !important;
    height: 30px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.profile-menu-btn,
.notifications-icon,
.upload-icon {
    width: 48px !important;
    height: 48px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.notifications-icon,
.upload-icon {
    color: white !important;
    width: 48px !important;
    height: 48px !important;
    flex-shrink: 0;
}

.full-width-toolbar {
    background: #141e38;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
}

.searchbar {
    flex: 1;
    max-width: 500px;
    margin-left: 20px;
    background: #334155;
    border: none;
    border-radius: 8px;
    height: 38px;
    color: white;
    padding: 0 15px;
}

.sorter {
    width: 200px;
    margin: 0 10px 0 0;
    height: 38px;
    color: white;
}

/* Bele kell nyúlni a generált MDC wrapper osztályba a magasság fixálásához */
.sorter ::ng-deep .mat-mdc-text-field-wrapper {
    height: 38px;
    background-color: #1f2a4a;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: white;
}

/* Az infix (a tényleges input terület) igazítása */
.sorter ::ng-deep .mat-mdc-form-field-infix {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 38px;
    color: white;

}

.sorter ::ng-deep .mat-mdc-form-field-label {
    color: white !important;

}

.sorter ::ng-deep .mat-mdc-select-value-text {
    color: rgb(185, 184, 184) !important;
}

.categories-btn {
    color: white !important;
    border: 2px solid #fb923c;
}

.header-nav,
.tabs-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#header-toolbar,
#search-nav mat-toolbar {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

::ng-deep .mat-mdc-menu-panel {
    overflow: visible !important;
}

::ng-deep .mat-mdc-menu-content {
    overflow: visible !important;
}

.mat-mdc-menu-item:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    z-index: 10;
}

.profile-name {
    margin-right: 8px;
    font-size: 20px;
    white-space: nowrap;
}

.profile-menu-btn {
    color: white !important;
    width: auto !important;
    min-width: 48px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    border-radius: 24px !important;
    box-shadow: #fb923c 0px 1px 3px;
    background-color: #1b294b !important;
}

.profile-menu-btn:hover,
.notifications-icon:hover,
.upload-icon:hover,
.categories-btn:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    background-color: #243561 !important;
}

@media (max-width: 1500px) {
    mat-toolbar {
        width: 90% !important;
    }
}

@media (max-width: 600px) {
    .logo-img {
        margin-left: 8px;
        margin-right: 8px;
    }

    .header-toolbar,
    .search-nav mat-toolbar {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .searchbar {
        width: 100%;
    }

    .sorter {
        width: 20%;
    }
}