<header>
    <nav class="header-nav">
        <mat-toolbar id="header-toolbar">
            <img src="assets/pictures/logo_2.png" alt="BérPartner Logo" class="logo_img">
            <span>BérPartner</span>
            <span class="spacer"></span>
            <button mat-icon-button class="profile-menu-btn" [matMenuTriggerFor]="menu">
                <span class="profile-name">{{user?.nev}}</span>
                <mat-icon class="profile-icon">person</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

                <button mat-menu-item routerLink="/profile">
                    <mat-icon>person</mat-icon>
                    <span>Profil</span>
                </button>
                <button mat-menu-item routerLink="/renteditems">
                    <mat-icon>shopping_basket</mat-icon>
                    <span>Bérléseim</span>
                </button>
                <button mat-menu-item routerLink="/myitems">
                    <mat-icon>receipt</mat-icon>
                    <span>Hírdetéseim</span>
                </button>
                <button mat-menu-item routerLink="/settings">
                    <mat-icon>settings</mat-icon>
                    <span>Beállítások</span>
                </button>
                <button mat-menu-item routerLink="/login" style="color: darkred;">
                    <mat-icon color="warn">exit_to_app</mat-icon>
                    <span color="warn">Kijelentkezés</span>
                </button>
            </mat-menu>
            <button mat-icon-button class="notifications-icon" (click)="openNotifications()">
                <mat-icon>mail_outline</mat-icon>
            </button>
            <button mat-icon-button class="upload-icon" routerLink="/upload" aria-label="Új termék feltöltése">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </mat-toolbar>
    </nav>

    <nav class="tabs-container" id="search-nav">
        <mat-toolbar>
            <button mat-button [matMenuTriggerFor]="categories" style="color: white !important;"
                class="categories-btn">Kategóriák</button>
            <mat-menu #categories="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="tools">Eszközök</button>
                <button mat-menu-item [matMenuTriggerFor]="vehicle">Járművek</button>
                <button mat-menu-item [matMenuTriggerFor]="places">Épület</button>
            </mat-menu>

            <mat-menu #tools="matMenu">
                <mat-option value="epito_gepi">Építőipari & gépi szerszámok</mat-option>
                <mat-option value="kert">Kert & Kültér</mat-option>
                <mat-option value="jarmu_szereles">Jármű szerelés</mat-option>
                <mat-option value="szallitas">Szállítás</mat-option>
                <mat-option value="rendezveny">Rendezvény</mat-option>
                <mat-option value="elektronika">Elektronika</mat-option>
            </mat-menu>

            <mat-menu #vehicle="matMenu">
                <mat-option value="szemelyauto">Személyautó</mat-option>
                <mat-option value="kisteher">Kisteherautó</mat-option>
                <mat-option value="nagyteher">Teherautó</mat-option>
                <mat-option value="munkagep">Földmunka & Emelőgépek</mat-option>
                <mat-option value="potkocsi">Pótkocsi/Utánfutó</mat-option>
            </mat-menu>

            <mat-menu #places="matMenu">
                <mat-option value="tarolas">Tárolás & Raktár</mat-option>
                <mat-option value="muhely">Műhely</mat-option>
                <mat-option value="helyszin">Rendezvényhelyszín</mat-option>
            </mat-menu>

            <span class="spacer"></span>
            <mat-form-field class="sorter" appearance="outline" floatLabel="auto">
                <mat-label>Rendezés</mat-label>
                <mat-select [(ngModel)]="selectedSort">
                    @for (option of options; track option) {
                    <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <input type="text" class="searchbar" placeholder="Keresés...">

        </mat-toolbar>
    </nav>
</header>