<header>
    <nav class="header-nav">
        <mat-toolbar id="header-toolbar">
            <div class="logo-div">
                <img src="assets/pictures/logo_2.png" alt="BérPartner Logo" class="logo_img" routerLink="/home" aria-label="BérPartner főoldal" >
            </div>
            <span class="title" routerLink="/home">BérPartner</span>
            <span class="spacer"></span>
            <button mat-icon-button class="profile-menu-btn" [matMenuTriggerFor]="menu">
                <span class="profile-name">{{user?.nev}}</span>
                <mat-icon class="profile-icon">person</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

                <button mat-menu-item routerLink="/profile">
                    <mat-icon>person</mat-icon>
                    <span>Profil</span>
                </button>
                <button mat-menu-item routerLink="/renteditems">
                    <mat-icon>shopping_basket</mat-icon>
                    <span>Bérléseim</span>
                </button>
                <button mat-menu-item routerLink="/myitems">
                    <mat-icon>receipt</mat-icon>
                    <span>Hírdetéseim</span>
                </button>
                <button mat-menu-item routerLink="/settings">
                    <mat-icon>settings</mat-icon>
                    <span>Beállítások</span>
                </button>
                <button mat-menu-item (click)="logOut()" style="color: darkred;">
                    <mat-icon color="warn">exit_to_app</mat-icon>
                    <span color="warn">Kijelentkezés</span>
                </button>
            </mat-menu>
            <button mat-icon-button class="notifications-icon" (click)="openNotifications()">
                <mat-icon>mail_outline</mat-icon>
            </button>
            <button mat-icon-button class="upload-icon" routerLink="/upload" aria-label="Új termék feltöltése">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </mat-toolbar>
    </nav>
</header>