<main class="upload-page">

    <div class="upload-card" *ngIf="post">
        <header class="profile-header">
            <div class="profile-picture" routerLink="/profile/{{post.tulajdonos_id}}">
                <img src="assets/pictures/default_profil.svg" alt="Profilkép" class="pfp">
            </div>
        </header>
        <h1 class="page-title">{{post.nev}}</h1>

        <div class="upload-form">
            <section class="images-section">
                <h2 class="section-title">Képek</h2>
                <div class="image-grid">
                    <div class="image-display-box main-image" (click)="openImage(0)">
                        @if(post.kepek[0]?.kep_nev){
                        <img src="http://localhost:3000/upload/picture/{{post.kepek[0].kep_nev}}" class="preview-img">
                        }
                        @else{
                        <mat-icon>image</mat-icon>
                        }
                    </div>

                    <div class="image-grid-small">
                        <div class="image-display-box small" (click)="openImage(1)">
                            @if(post.kepek[1]?.kep_nev){
                            <img src="http://localhost:3000/upload/picture/{{post.kepek[1].kep_nev}}"
                                class="preview-img">
                            }
                            @else{
                            <mat-icon>image</mat-icon>
                            }
                        </div>
                        <div class="image-display-box small" (click)="openImage(2)">
                            @if(post.kepek[2]?.kep_nev){
                            <img src="http://localhost:3000/upload/picture/{{post.kepek[2].kep_nev}}"
                                class="preview-img">
                            }
                            @else{
                            <mat-icon>image</mat-icon>
                            }
                        </div>
                        <div class="image-display-box small" (click)="openImage(3)">
                            @if(post.kepek[3]?.kep_nev){
                            <img src="http://localhost:3000/upload/picture/{{post.kepek[3].kep_nev}}"
                                class="preview-img">
                            }
                            @else{
                            <mat-icon>image</mat-icon>
                            }
                        </div>
                    </div>
                </div>
            </section>

            <section class="form-section">
                <h2>Részletek</h2>

                <div class="detail-row">
                    <span class="detail-label">Tulajdonos:</span>
                    <span class="detail-value" routerLink="/profile/{{post.tulajdonos_id}}"
                        style="cursor: pointer;">{{post.felhasznalonev}}</span>
                </div>

                <div class="detail-row">
                    <span class="detail-label">Telefonszám:</span>
                    <span class="detail-value">+{{post.telefonszam | mask:'00 000 0000'}}</span>
                </div>

                <div class="detail-row">
                    <span class="detail-label">E-mail cím:</span>
                    <span class="detail-value">{{post.email}}</span>
                </div>

                <div class="detail-row">
                    <span class="detail-label">Helyszín:</span>
                    <span class="detail-value">{{post.varos}}, {{post.iranyitoszam}}</span>
                </div>

                <div class="detail-row">
                    <span class="detail-label">Kategória:</span>
                    <span class="detail-value">{{post.kategoria}}</span>
                </div>

                <div class="detail-row">
                    <span class="detail-label">Állapot:</span>
                    <span class="detail-value">{{post.allapot}}</span>
                </div>

                <div class="detail-row">
                    <span class="detail-label">Napi díj:</span>
                    <span class="detail-value price-text">{{post.ar_egy_napra}} Ft / nap</span>
                </div>


                <div class="details-bottom">
                    <div class="description-box">
                        <h3>Leírás</h3>
                        <p>{{post.leiras}}</p>
                    </div>

                    <div class="calendar-box">
                        <mat-card class="calendar-card">
                            <mat-calendar ></mat-calendar>
                        </mat-card>
                    </div>
                </div>
            </section>

            <div class="action-bar">
                @if (currentUserId === post.tulajdonos_id) {
                <div class="owner-actions">
                    <button mat-flat-button color="warn" class="delete-btn" (click)="deletePost()">
                        <mat-icon>delete</mat-icon> Törlés
                    </button>
                    <button mat-flat-button color="primary" class="edit-btn" (click)="editPost(post.id)">
                        <mat-icon>edit</mat-icon> Hirdetés szerkesztése
                    </button>
                </div>
                }
                @else {
                <div class="calendar-wrapper">
                    <mat-date-range-input [rangePicker]="picker" style="display: none;">
                        <input matStartDate placeholder="Mettől" (dateChange)="onStartChange($event)">
                        <input matEndDate placeholder="Meddig" (dateChange)="onEndChange($event)">
                    </mat-date-range-input>
                    <button mat-flat-button class="calendar-btn" (click)="picker.open()">
                        <span>{{rangeText}}</span>
                    </button>
                    <mat-date-range-picker touchUi #picker></mat-date-range-picker>
                </div>
                <button mat-flat-button class="submit-btn" (click)="sendRent()" [disabled]="!startDate || !endDate">
                    Bérlési igény küldése
                </button>
                }
            </div>
        </div>
    </div>
</main>