<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">


            <div class="avatar-icon">
                <img src="" alt="Profilkép" class="avatar">
            </div>

            <div class="user-info">
                <h1 class="full-name">Bekre Pál</h1>
            </div>
        </div>

        <div class="profile-section">
            <h2 class="section-title">Személyes adatok</h2>

            <div class="info-grid">
                <div class="info-item">
                    <span class="label">Teljes név</span>
                    <span class="value">Bekre Pál</span>
                </div>

                <div class="info-item">
                    <span class="label">E-mail cím</span>
                    <span class="value">bekre.pal&#64;gmail.com</span>
                </div>

                <div class="info-item">
                    <span class="label">Telefonszám</span>
                    <span class="value">+36 30 123 4567</span>
                </div>

                <div class="info-item">
                    <span class="label">Lakóhely</span>
                    <span class="value">Kalocsa</span>
                </div>
            </div>
        </div>

        <div class="profile-section stats-section">
            <h2 class="section-title">Bérlési tevékenység</h2>

            <div class="stats-grid">
                <div class="stat-card">
                    <div class="stat-value">6</div>
                    <div class="stat-label">Bérlések Száma</div>
                </div>

                <div class="stat-card">
                    <div class="stat-value">7</div>
                    <div class="stat-label">Kiadott bérlés</div>
                </div>
            </div>
        </div>


        <div class="profile-actions">
            <button class="edit-btn" routerLink="/settings">
                Adatok szerkesztése
            </button>

            <button class="delete-btn" (click)="openUserDeletionDialog()">
                Fiók törlése
            </button>
        </div>
    </div>
</div>