<main class="profile-page">
    <div class="left-part">
        <button class="back-btn" routerLink="/home" aria-label="Vissza a főoldalra">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <header class="profile-header">
            <div class="profile-picture" (click)="fileInput.click()">
                
                <img *ngIf="!user?.profil_kep" src="assets/pictures/default_profil.svg" alt="Profilkép" class="pfp">
                <img *ngIf="user?.profil_kep" src="http://localhost:3000/upload/avatar/{{user.profil_kep}}" alt="Profilkép" class="pfp">
                <input type="file" #fileInput accept="image/*" class="img-upload" (change)="onFileSelected($event)">

                <div class="pfp-overlay">
                    <mat-icon>camera_alt</mat-icon>
                </div>
            </div>
            <h1 class="full-name">{{user?.nev}}</h1>
        </header>

        <section class="info-section">
            <h2 class="section-title">Személyes adatok</h2>

            <div class="personal-grid">
                <div class="grid-item">
                    <span class="grid-label">Teljes név</span>
                    <span class="grid-value">{{user?.nev}}</span>
                </div>

                <div class="grid-item">
                    <span class="grid-label">E-mail cím</span>
                    <span class="grid-value">{{user?.email}}</span>
                </div>

                <div class="grid-item">
                    <span class="grid-label">Telefonszám</span>
                    <span class="grid-value">+{{user?.telefonszam | mask:'00 000 0000'}}</span>
                </div>

                <div class="grid-item">
                    <span class="grid-label">Lakóhely</span>
                    <span class="grid-value">{{user?.varos}}</span>
                </div>
            </div>
        </section>

        <div class="stats-section">
            <h2 class="stats-title">Bérlési előzmények</h2>
            <div class="stats-grid">
                <div class="stat-card">
                    <div class="stat-value">6</div>
                    <div class="stat-label">Bérlés összesen</div>
                </div>
                <div class="stat-card">
                    <div class="stat-value">7</div>
                    <div class="stat-label">Kiadott bérlés</div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-part">
        <h2>A felhasználó által kínált eszközök</h2>

        <div class="items-list">
            <mat-card class="item-card" *ngFor="let post of posts" routerLink="/item-details/{{post.id}}">
                <div class="item-image-container">
                    <img mat-card-image src="http://localhost:3000/upload/picture/{{post.kep_nev}}" alt="Termék kép"
                        class="item-img">
                </div>

                <div class="item-info">
                    <mat-card-header>
                        <mat-card-title>
                            <mat-card-title>{{post.nev}}</mat-card-title>
                        </mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <p class="price">Napi díj: {{post.ar_egy_napra}} Ft</p>
                        <p class="status">Elérhető</p>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</main>