.profile-page {
  height: calc(100vh - 64px);
  display: flex;
  overflow: hidden;
  background-color: #141e38;
  color: #f8fafc;
}

.left-part,
.right-part {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 32px;
  box-sizing: border-box;
}

.left-part {
  background-color: #1e293b;
  border-right: 1px solid #fb923c;
  position: relative;
}

.right-part {
  background-color: #141e38;
}

.back-btn {
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: #fb923c;
  color: #141e38;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-btn:hover {
  transform: scale(1.1);
  background-color: #da7625;
}


.profile-header {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 40px;
}

.profile-picture {
  width: 140px;
  height: 140px;
  margin: 0 auto 24px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fb923c;
  box-shadow: 0 8px 24px black;
}

.pfp {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-name {
  font-size: 2.4rem;
  font-weight: 700;
  color: #cc7625;
}

.section-title,
.stats-title,
.right-part h2 {
  font-size: 1.5rem;
  color: #e07e2e;
  margin-bottom: 20px;
}

.personal-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item,
.stat-card {
  background-color: #334155;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(250, 135, 42, 0.404);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
}

.grid-item:hover,
.stat-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px black;
  border-color: #fb923c;
}

.grid-label,
.stat-label {
  font-size: 0.95rem;
  color: #64748b;
  font-weight: 500;
  margin-bottom: 8px;
}

.grid-value {
  color: #fb923c;
}

.stat-value {
  color: #fb923c;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.stats-section {
  padding-top: 16px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  margin-top: 24px;
}

.stat-card {
  background-color: #334155;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(251, 146, 60, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  text-align: center;
  padding: 24px;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-card {
  display: flex;
  background-color: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}

.item-card:hover {
  background-color: #243561;
  border-color: #fb923c;
}

.item-image-placeholder {
  width: 150px;
  background-color: #334155;
  border-right: 2px solid #fb923c;
}

.item-info {
  padding: 16px;
}

.item-info h3 {
  color: #ffb03a;
  margin-bottom: 5px;
}

.price {
  color: #fb923c;
  font-weight: 500;
}
  
.status {
  color: #659ce9;
  font-style: italic;
}

@media (max-width: 900px) {
  .profile-page {
    flex-direction: column;
    overflow-y: auto;
  }

  .left-part,
  .right-part {
    height: auto;
    overflow: visible;
  }

  .left-part {
    border-right: none;
    border-bottom: 1px solid #fb923c;
  }
}