<div class="home-container">
    <nav>
        <mat-toolbar>
            <img src="assets/pictures/logo_2.png" alt="BérPartner Logo" class="logo_img">
            <span>BérPartner</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button class="example-icon">
                <mat-icon>person</mat-icon>
            </button>
        </mat-toolbar>
    </nav>
    <div class="tabs-container">
        <mat-toolbar>
            <!-- <mat-tab-group mat-stretch-tabs animationDuration="200ms" class="full-width-tabs">

                <mat-tab label="">
                    
                </mat-tab>
                

                <mat-tab label="">
                  
                </mat-tab>

                <mat-tab label="">
                    
                </mat-tab>

            </mat-tab-group> -->
        </mat-toolbar>
    </div>
</div>